---
layout: base.html
---
<h1>Welcome, <em>traveler.</em></h1>
<aside aria-hidden="true">&</aside>
<main>
    {% for post in collections.posts | reverse %}
        <article>
            <time>{{ post.date | timezonedDate(post.data.gps) }}</time>
            <pre>{{ post.templateContent }}</pre>
            <a href="/posts/{{ post.date | urlDate | slugify }}/" class="permalink">permalink</a>
            {% if post.data.gps %}<address>{{ post.data.gps }}</address>{% endif %}
        </article>
    {% endfor %}
</main>
<footer class="secret">
    my, you are certainly curious, eh! what a delight it must be to know you.
    i feel you are a dear friend to me already.
</footer>
<!-- <form name="notes" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/">
    <label>
        <div>leave a kind note, or rare secret.</div>
        <input type="text" name="note" required>
        <label class="secret">Don’t fill this out if you’re human: <input name="bot-field" /></label>
        <button type="submit">send</button>
    </label>
</form>
 -->
