---
layout: 'base.html'
eleventyComputed:
    description: "{{ content | striptags }}"
    title: "{{ page.date | timezonedDate(page.gps) }}"
    date: "{{ page.date | urlDate | slugify }}"
    generatedOgUrl: "https://screenshot.henry.codes/{{ ('https://stillness.digital/opengraph/posts/' + date) | encodeURIComponent }}/opengraph"
    manualOgUrl: "https://stillness.digital/img/{{ page.date | urlDate | slugify }}.png"
    og: "{% if manualOpengraph %}{{ manualOgUrl }}{% else %}{{ generatedOgUrl }}{% endif %}"
---
<main>
    <article {% if content.length  > 1100 %}class="extended"{% endif %}>
        <time>{{ page.date | timezonedDate(page.gps) }}</time>
        <pre>{{ content | safe }}</pre>
        <a href="/">← go home</a>
    </article>
</main>
